<h1>BURGERS!</h1>



<div class="flexbox-container container">
<div class="row">
 
  <div class="flexbox-item-1 col-sm">
     <h3>BURGERS TO DEVOUR!</h3>
     <img src="">
    <ul id="uneaten">
       {{#each burger}}
      {{#unless devoured}}
      {{> burger/burger-block devoured=false}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>


<div class="flexbox-item-2 col-sm">
  <h2>BURGERS DEVOURED!!!</h2>
  <img src="">
<ul id="eaten">
  {{#each burger}}
    {{#if devoured}}
      {{> burger/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>
</div>


<div class="flex-box-item-3 col-sm">
  <h2>Add A NEW BURGER</h2>
  <img src="">
  <form class="create-form">
    <label for="newBurger"> Burger Name: </label>
    <input type="text" id="newBurger" name="burger_name">
    <div class="flexbox-conteiner">
       <button type="submit" id="burgerBtn">Add Burger</button>
    </div>
   </form>
</div>


</div>
</div>